* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
}

body {
	font-size: 13px;
	background-color: #0061FF;
}

h1 {
	text-shadow: 0.05em 0.05em 0.1em black;
	margin: 5% auto;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 3em;
	background-color: #ef1c1c;
	-webkit-box-shadow: 0em 0.05em 0.1em black;
	box-shadow: 0em 0.05em 0.1em black;
}

#inputWindow {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 60%;
	margin: 1% auto;
	background-color: #003b9d;
	padding: 3%;
	-webkit-box-shadow: 0.3em 0.3em 0.3em 0.1em #001840;
	box-shadow: 0.3em 0.3em 0.3em 0.1em #001840;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

#addTask,
.checkButton {
	width: 10%;
	background-color: rgba(0, 0, 0, 0);
	border: 0px solid rgba(0, 0, 0, 0);
}

#addTask img,
.checkButton img {
	width: 100%;
}

#addTask img:hover {
	content: url("plus-sign-yello.png");
}

.checkButton img:hover {
	content: url("check-green.png");
}

#taskInput {
	width: 80%;
	text-align: center;
	margin-left: auto;
}

label {
	color: white;
	padding: 5% 0;
}

#date,
#time {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 30%;
	margin-top: 5%;
	margin-left: auto;
	text-align: center;
}

#dateInput,
#timeInput {
	text-align: center;
	font-size: 1em;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: #00307F;
}

.newTask {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 60%;
	margin: 0 auto 1%;
	padding: 5%;
	background-color: #0049BF;
	color: antiquewhite;
	-webkit-box-shadow: 0.3em 0.3em 0.3em 0.1em #00307F;
	box-shadow: 0.3em 0.3em 0.3em 0.1em #00307F;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
}

.deadline {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	text-align: center;
	width: 5em;
	border-top: 1em solid #e50000;
}

.taskDate {
	font-size: 1em;
	margin-bottom: 10%;
	color: black;
	padding: 12% 0; 
	background-color: white;
}

.taskTime {
	font-family: 'Audiowide';
	font-size: 1.4em;
	color: #00d900;
	background-color: black;
	border-radius: 0.5em;
	padding: 1% 0;
	width: 100%;
}

.taskName {
	font-size: 1.2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 3%;
	margin: 0 auto;
}

.checkButton {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
